html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#ticket-container {
  background: #e3f6f5;
  width: 40rem;
  padding: 3rem;
}

#title,
#total {
  color: #57636e;
  font-family: Verdana;
}

#title {
  font-size: 3rem;
  text-align: center;
  padding: 2px 0;
}

#total {
  font-size: 2rem;
  text-align: right;
}

#lines {
  color: #5a6772;
  font-size: 1.3rem;
  font-family: Verdana;
  width: 100%;
}

td,
td {
  padding: 8px;
}

th {
  text-align: left;
}
